<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Starter</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/CSS/fontawesome-free/css/all.min.css">
    <!--DataTable-->
    <link rel="stylesheet" href="~/Content/CSS/plugins/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Content/CSS/plugins/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Content/CSS/plugins/buttons.bootstrap4.min.css">

    <!-- daterange picker -->
    <link rel="stylesheet" href="~/Content/CSS/daterangepicker/daterangepicker.css">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/Content/CSS/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="~/Content/CSS/bootstrap-colorpicker/bootstrap-colorpicker.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/Content/CSS/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/Content/CSS/select2/select2.min.css">
    <link rel="stylesheet" href="~/Content/CSS/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- Bootstrap4 Duallistbox -->
    <link rel="stylesheet" href="~/Content/CSS/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
    <!-- BS Stepper -->
    <link rel="stylesheet" href="~/Content/CSS/bs-stepper/bs-stepper.min.css">
    <!-- dropzonejs -->
    <link rel="stylesheet" href="~/Content/CSS/dropzone/dropzone.min.css">

    <!--Theme Style-->
    <link rel="stylesheet" href="~/Content/CSS/dist/adminlte.min.css">
    @RenderSection("styles", required: false)
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        @Html.Partial("_NavBar", null)
        <div class="content-wrapper">
            @RenderBody()
        </div>

        <aside class="control-sidebar control-sidebar-dark">
            <div class="p-3">
                <h5>Title</h5>
                <p>Sidebar content</p>
            </div>
        </aside>

        @Html.Partial("_Footer", null);
    </div>

    <!-- REQUIRED SCRIPTS -->
    <!-- FullCalendar-->
    <script src="~/Scripts/JS/fullCalendar/index.global.js"></script>


    <!-- jQuery -->
    <script src="~/Scripts/JS/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Scripts/JS/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- DataTable -->
    <script src="~/Scripts/JS/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/JS/datatables-bs4/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/JS/datatables-responsive/dataTables.responsive.min.js"></script>
    <script src="~/Scripts/JS/datatables-responsive/responsive.bootstrap4.min.js"></script>
    <script src="~/Scripts/JS/datatables-buttons/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/JS/datatables-buttons/buttons.bootstrap4.min.js"></script>
    <script src="~/Scripts/JS/jszip/jszip.min.js"></script>
    <script src="~/Scripts/JS/pdfmake/pdfmake.min.js"></script>
    <script src="~/Scripts/JS/pdfmake/vfs_fonts.js"></script>
    <script src="~/Scripts/JS/datatables-buttons/buttons.html5.min.js"></script>
    <script src="~/Scripts/JS/datatables-buttons/buttons.print.min.js"></script>
    <script src="~/Scripts/JS/datatables-buttons/buttons.colVis.min.js"></script>
    <!--DataTables-->

    <!-- Select2 -->
    <script src="~/Scripts/JS/select2/select2.full.min.js"></script>
    <!-- Bootstrap4 Duallistbox -->
    <script src="~/Scripts/JS/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
    <!-- InputMask -->
    <script src="~/Scripts/JS/moment/moment.min.js"></script>
    <script src="~/Scripts/JS/inputmask/jquery.inputmask.min.js"></script>
    <!-- date-range-picker -->
    <script src="~/Scripts/JS/daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap color picker -->
    <script src="~/Scripts/JS/bootstrap-colorpicker/bootstrap-colorpicker.min.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/Scripts/JS/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Bootstrap Switch -->
    <script src="~/Scripts/bootstrap-switch/bootstrap-switch.min.js"></script>
    <!-- BS-Stepper -->
    <script src="~/Scripts/bs-stepper/bs-stepper.min.js"></script>
    <!-- dropzonejs -->
    <script src="~/Scripts/dropzone/dropzone.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Scripts/JS/dist/adminlte.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
