<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Starter</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="~/Content/CSS/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/Content/CSS/dist/adminlte.min.css">
    @RenderSection("styles", required: false)
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        @Html.Partial("_NavBar", null)
        <div class="content-wrapper">
            @RenderBody()           
        </div>

        <aside class="control-sidebar control-sidebar-dark">
            <div class="p-3">
                <h5>Title</h5>
                <p>Sidebar content</p>
            </div>
        </aside>

        @Html.Partial("_Footer", null);
    </div>

    <!-- REQUIRED SCRIPTS -->
    <!-- FullCalendar-->
    <script src="~/Scripts/JS/fullCalendar/index.global.js"></script>
    <!-- jQuery -->
    <script src="~/Scripts/JS/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Scripts/JS/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Scripts/JS/dist/adminlte.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
